<section class="about" id="about">
  <div class="aboutLeft"></div>
  <div class="aboutRight">
    <h2 class="aboutTitle">Tworzymy <span>z pasją</span></h2>
    <p class="aboutText">
      Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą wykwalifikowani
      projektanci oraz architekci, których zadaniem jest rozpoznanie i
      realizacja potrzeb każdego Klienta. Nasza specjalizacja to przestrzenie
      nowoczesne, które charakteryzuje minimalizm, geometria i elegancka
      prostota. Tworzymy ogrody małoobsługowe, dostosowane do współczesnego
      trybu życia.
    </p>
    <button class="aboutBtn">Poznaj nas bliżej</button>
  </div>
</section>
