<footer class="footer" id="footer">
  <div class="container">
    <div class="footerTop">
      <img src="./images/logoFooter.png" alt="" height="19" />
      <p class="footerTopText">Daj znać, co możemy dla Ciebie zrobić!</p>
      <button
        class="footerTopBtn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Skontaktuj się z nami
      </button>
    </div>
    <div class="footerMiddle">
      <ul class="footerSocial">
        <li class="footerSocialItem">
          <a href="">Kontakt</a>
        </li>
        <li class="footerSocialItem">
          <a href="https://www.instagram.com/" target="_blank">Instargram</a>
        </li>
        <li class="footerSocialItem">
          <a href="https://www.facebook.com/" target="_blank">Facebook</a>
        </li>
        <li class="footerSocialItem">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </li>
      </ul>
      <div class="phoneEmail">
        <a href="tel:000-000-000" class="footerPhone">000-000-000</a>
        <a href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a>
      </div>
    </div>
    <div class="footerBottom">
      <p class="footerCopy">Prawa zastrzeżone &copy; 2022</p>
      <p class="logoPreText">made by</p>
      <img src="./images/adRespect.png" alt="logo" />
    </div>
  </div>
</footer>
