<header>
  <section class="headerDesktop">
    <div class="container header">
      <a href="">
        <img src="./images/logoHeader.png" alt="logo" />
        <nav class="navigation">
          <ul class="navigationList">
            <li class="navigationItem">
              <a
                class="nav-link dropdown-toggle navigationLink"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Oferta
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="navigationItem">
              <a href="#about" class="navigationLink">O firmie</a>
            </li>
            <li class="navigationItem">
              <a href="#realizacje" class="navigationLink">Realizacje</a>
            </li>
            <li class="navigationItem">
              <a href="#footer" class="navigationLink">Kontakt</a>
            </li>
            <li class="navigationItem">
              <div class="search-container">
                <form action="/search" method="get">
                  <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
                  <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
                </form>
              </div>
            </li>
          </ul>
        </nav>
      </a>
    </div>
  </section>
</header>
