<section class="hero">
  <div class="heroLeft">
    <h2 class="heroTitle">
      Nowoczesna aranżacja <br />
      Twojego ogrodu
    </h2>
    <p class="heroText">
      Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
      realizacji. Oferujemy kompleksowy zakres usługz indywidualnym podejściem
      do każdego projektu.
    </p>
    <button
      class="heroBtn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Skontaktuj się z nami
    </button>
      <a href="#realizacje" class="heroBtn right">Zobacz nasze realizacje</a>
      
  </div>
  <div class="heroRight"></div>
</section>
