    <!-- MOBILE MENU  -->
<section>
    <div class="mob-menu container js-menu-container" id="mobile-menu">
        <button type="button" class="mob-close-btn js-close-menu">
            <svg class="mob-close-btn__icon" width="18" height="18">
                <use href="./images/1.svg"></use>
            </svg>
        </button>
        <div class="mob-menu-top-wrap">
        <ul class="mob-menu__list list">
            <li class="mob-menu__item">Студія<a href="./index.html" class="mob-menu__link link current"></a></li>
            <li class="mob-menu__item">Контакти<a href="" class="mob-menu__link link"></a></li>
        </ul>
        </div>
        <div class="mob-menu-bottom-wrap">
        <ul class="contacts contacts--mobile list">
            <li class="contacts__item contacts__item--mob">
                <a class="contacts__link contacts__link--tel link" href="tel:+380961111111">
                    +38 096 111 11 11</a>
            </li>
            <li class="contacts__item contacts__item--mob">
                <div class="contacs-wrap">
                    <a class="contacts__link contacts__link--mail link" href="mailto:info@devstudio">
                        info@devstudio.com
                    </a>
                </div>
            </li>
        </ul>
        <ul class="mob-menu-soc list">
            <li class="mob-menu-soc__item"><a href="" class="mob-menu-soc__link link">Instagram</a></li>
            <li class="mob-menu-soc__item"><a href="" class="mob-menu-soc__link link">Twitter</a></li>
            <li class="mob-menu-soc__item"><a href="" class="mob-menu-soc__link link">Facebook</a></li>
            <li class="mob-menu-soc__item"><a href="" class="mob-menu-soc__link link">Linkedin</a></li>
        </ul>
        </div>
        </div>
</section>
    <!-- MOBILE MENU  -->