<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Leave your contacts and we call you back!</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="modal-form">
          <div class="modal-form__label">
          <label for="name">Name</label>
          </div>
          <div class="input-icon-wrap">
          <input type="text" id="name" class="modal-form__input">
          </div>
        
          <div class="modal-form__label">
          <label for="tel">Phone</label>
          </div>

          <div class="input-icon-wrap">
          <input type="tel" id="tel" class="modal-form__input">
          </div>

          <div class="modal-form__label">
          <label for="email-modal">Email</label>
          </div>

          <div class="input-icon-wrap">
          <input type="email" id="email-modal" class="modal-form__input">
          </div>
          <div class="modal-form__label">
          <label for="comment">Message</label>
          </div>

          <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Enter the message" class="modal-form__input text-area"></textarea>

          <button type="submit" class="modalBtn">Send</button>
          </form>
          </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
