<section class="oferta" id="oferta">
  <div class="container">
    <div class="ofertaTextWrap">
      <h2 class="ofertaTitle">Działamy <span>kompleksowo</span></h2>
      <p class="ofertaText">
        Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
        nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
        projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
        posłużymy radą i wieloletnim doświadczeniem.
      </p>
    </div>
    <ul class="servicesList">
      <li class="servicesItem">
        <img src="./images/1.svg" alt="" width="44" height="44" />
        <h3 class="servicesTitle">Projecty</h3>
        <p class="servicesText">
          Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym
          wykorzystaniem istniejącej przestrzeni.
        </p>
        <a href="" class="servicesLink">Dowiedz się więcej</a>
      </li>
      <li class="servicesItem">
        <img src="./images/2.svg" alt="" width="44" height="44" />
        <h3 class="servicesTitle">Wizualizacje</h3>
        <p class="servicesText">
          Przedstawimy Ci projekty koncepcyjne w postaci wirtualnego spaceru
          animowanego w technologii 3D.
        </p>
        <a href="" class="servicesLink">Dowiedz się więcej</a>
      </li>
      <li class="servicesItem">
        <img src="./images/3.svg" alt="" width="44" height="44" />
        <h3 class="servicesTitle">Realizacje</h3>
        <p class="servicesText">
          Zrealizujemy Twoje marzenie przy użyciu najnowszych rozwiązań i
          zaawansowanych technologii.
        </p>
        <a href="" class="servicesLink">Zobacz nasze realizacje</a>
      </li>
    </ul>
  </div>
</section>
