<section class="realizacje" id="realizacje">
  <div class="container libraryWrap">
    <h3 class="realizacjeTitle">Nasze <span>projekty</span></h3>
    <div class="grid">
      <img src="./images/Photo-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (1)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (2)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (3)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (4)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (6)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (7)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (8)-min.png" alt="" class="libraryImg" />
      <img src="./images/Photo (9)-min.png" alt="" class="libraryImg" />
    </div>
    <button type="button" class="libraryBtn">Rozwiń</button>
  </div>
</section>
