.about {
  display: flex;
  padding: 50px 20px;
  background-color: #1b5b31;
  background-image: linear-gradient(to right,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)), 
  url('../images/missionBg.jpg');

  @media screen and (min-width: 1200px) {
    background-color: none;
    background-image: none;
    padding: 0;
  }
}
.aboutLeft {
  display: none;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 50%;
    background-image: url('../images/missionBg.jpg');
    background-size: cover;
  }

}
.aboutRight {
  
  @media screen and (min-width: 1200px) {
    padding: 135px 92px 135px 160px;
    width: 50%;
    
  }


}
.aboutTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    max-width: 200px;
  }
}
.aboutTitle > span {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
.aboutText {
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  font-size: 16px;

  color: #fff;
}
.aboutBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 200px;
  background-color: transparent;
  color: #fff;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }

  &::after {
    margin-left: 8px;
    content: url('../images/whiteArrow.svg');
    top: 20px;
  }

  &:hover {
    background-color: rgb(71, 117, 75);
  }
}

