.contacts {
  padding: 100px 20px;
  background-color: #1b5b31;
  @media screen and (min-width: 1200px) {
    padding: 120px 200px;
    background-color: #fff;
  }

}

.contactsWrap {
  

  @media screen and (min-width: 1200px) {
    padding: 120px 110px;
    display: flex;
    background-color: #1b5b31;
  }

}

.contactsRightWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-left: 64px;
    display: block;
  }
}

.contactsTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #fff;
}

.contactsTitle > span {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

.contactsText {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
  margin-bottom: 24px;
}

.contactsBtn {
  border-radius: 200px;
  padding: 12px 24px;
  color: #1b5b31;
  border:none;
  background-color: #fff;
  text-decoration: none;

  &:hover{
    color: #fff;
    background-color: rgb(71, 117, 75);
   

  }

}

