.footer {
  padding: 50px 20px;
  background-color: #111111;
  @media screen and (min-width: 1200px) {
    padding: 80px 200px;

  }

}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding-bottom: 62px;

  @media screen and (min-width: 1200px) {

  }

}

.footerTopText {
  display: none;
  margin-bottom: 0;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-left: 404px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
  }



  
}
.footerTopBtn {
  border-radius: 200px;
  padding: 12px 24px;
  margin-left: 48px;
  background-color: #1b5b31;
  color: #fff;
  border: none;

  &:hover {
    background-color: rgb(71, 117, 75);
  }
}

.footerMiddle {
  margin-top: 62px;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
  
}
.footerSocial {
  display: flex;
}

.footerSocialItem > a,
.phoneEmail > a {
  color: #fff;
  text-decoration: none;
}

.footerSocialItem > a:hover,
.phoneEmail > a:hover {
  color: rgb(71, 117, 75);
}

.phoneEmail {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  @media screen and (min-width: 1200px) {
    margin-left: 348px;
    margin-top: 0;
    justify-content: flex-end;
    
  }

}

.footerPhone {
  margin-right: 48px;
}

.footerSocialItem:not(:last-child) {
  margin-right: 48px;
}

.footerBottom {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    justify-content: none;
  }
}
.footerCopy {
  color: #fff;
  margin-bottom: 0;
}
.logoPreText {
  display: none;

  @media screen and (min-width: 1200px) {
    display: inline-block;
    color: #fff;
    margin-right: 16px;
    margin-bottom: 0;
    margin-left: 643px;
  }
}
