.headerDesktop {
	padding: 0 15px;
	position: relative;
	@media screen and (min-width: 1200px) {
		display: flex;
		
	}
}

.mobMenuIcon {
	position: absolute;
	content: "";
	right: 15px;
	top: 15px;
	border: none;
	background-color: transparent;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}
.header {

@media screen and (min-width: 1200px) {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

}

.navigation {
	display: none;

	@media screen and (min-width: 1200px) {
		display: inline-flex;
	}
}

.navigationList {
  display: flex;
  align-items: center;
  margin: 0;
}
.navigationItem {
  margin-right: 48px;
}
.navigationLink {
  text-decoration: none;
  color: #111;
}

.navigationLink:hover {
  color: rgb(71, 117, 75);
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
  top: 0px
}


.search {
	position: absolute;
	left: 49px; 
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; 
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 30px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.mobileMenu {
	padding: 20px;
	position: fixed;
	content: "";
	top: 0;
	right: 0;
	width: 90vw;
	height: 100vh;
	background-color: #fff;

	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.mobileMenuList {
	margin-bottom: 15px;
}

.mobileMenuLink {
	text-decoration: none;
	color:#111;
	font-size: 24px;

}

.mobileMenuSocialList {
	display: flex;
	margin-top: 300px;
}
.mobileMenuClose {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 24px;
	height: 24px;
	background-color: transparent;
	border-radius: 50%;
}

.isHiden {
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.isOpen {
	transform: translateX(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}