.header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.navigationList {
  display: flex;
  align-items: center;
}
.navigationItem {
  margin-right: 48px;
}
.navigationLink {
  text-decoration: none;
  color: #111;
}

.navigationLink:hover {
  color: rgb(71, 117, 75);
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
  top: 0px
}


.search {
	position: absolute;
	left: 49px; 
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; 
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 30px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}