.realizacje {
  background: #DCC1AB;

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
  }

}

.gradient {
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  grid-gap: 10px;
  
  justify-content: center;
  align-content: center;
  position: relative;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, auto);
    
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #dcc1ab18, #D6B79E);
    opacity: 0.5;
    pointer-events: none;
  }
}

.libraryWrap {
  position: relative;
}

.libraryBtn {
  position: absolute;
  content: "";
  padding: 12px 22px;
  border: 2px solid #000;
  border-radius: 200px;
  background-color: transparent;
  color:#000;
  cursor: pointer;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);


  &::after {
    margin-left: 8px;
    content: url('../images/blackArrowDown.svg');

  }
}

.grid img {
  cursor: pointer;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: #000;
  border: 2px solid white;
}



.realizacjeTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 48px;
  margin: 20px auto;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 160px;
    margin-bottom: 96px;
    text-align: left;
  }

}

.realizacjeTitle > span {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
